.heading {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: var(--dark);
    margin: 0;
}

.cta {
    padding: 70px 0;
    text-align:center;
}