.hero {
    position: relative;
    width: 100%;
    height: 678px;
    margin: 0 auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 76px;
    line-height: 93px;
    padding-top: 351px;
    text-align: center;
    margin: 0;
}

.paragraph {
    font-style: normal;
    font-weight: 375;
    font-size: 28px;
    line-height: 39px;
    text-align: center;
    color: white;
    max-width: 1012px;
    width: 100%;
    margin: 0 0 15px 0;
}

