.listing{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: grab;
}

.details  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.title, .price{
    margin: 0;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    color: var(--dark);
}

.price {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark);
}