.originalPrice {
    color:  #8C8C8C;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration-line: line-through;
}

.row {
    display: flex;
    gap: 5px;
}