.search {
    background-color: var(--lightGreen);
    padding: 22px 23px 22px 20px;
    display: flex;
    align-items: center;
}

.input {
    background-color: var(--lightGreen);
    color: var(--dark);
    border: none;
    outline: none;
}